.main-section {
	width: 66%;
	max-width: 730px;
}

.main-wrapper {
	margin-top: 35px;
}

.main-title {
	display: inline-block;
	width: 40%;
	font-weight: 800;
	font-size: 55px;
	font-family: 'Inter', sans-serif;
	line-height: 55px;
}

.main-description {
	display: inline-block;
	width: 48%;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	float: right;
}

.main-more {
	background-color: hsl(5, 85%, 63%);
	width: 185px;
	padding: 15px;
	color: hsl(36, 100%, 99%);
	text-align: center;
	margin-top: 40px;
	letter-spacing: 4px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	box-sizing: border-box;
	cursor: pointer;
}

.main-more:hover {
	background-color: hsl(240, 100%, 5%);
}

@media only screen and (max-width: 749px) {
    .main-section {
    	width: 100%;
    	margin-bottom: 50px;
    }

    .main-wrapper {
		margin-top: 25px;
    }

    .main-title {
		font-size: 43px;
		line-height: 44px;
		width: 100%;
    	margin-bottom: 20px;
    }

    .main-description {
    	width: 100%;
    	line-height: 25px;
    }

    .main-more {
    	margin-top: 25px;
    }
}